{
  "project_id": "id",
  "machine_type": "f1-micro",
  "image_description": "reddit-full",
  "tags": "",
  "network": "default",
  "disk_size": "10",
  "disk_type": "pd-standard",
  "ssh_username": "user"
}
